body {
    color:#FFF;
    background-color: #000;
    font-family: 'Franklin Gothic', sans-serif
}
a { color: #FFF; }

/*<--Sidebar-->*/
.Sidebar {
    position: fixed;
    top: 0vh;
    bottom: 0px;
    left: 0px;
    width: 300px;
    border: 3px double var(--MainColour);
    background-color: #090909;
}
.Sidebar a, img {
    position: fixed;
}
.Blob {
    width: 100px;
    border-radius: 50%;
    border: 3px inset var(--MainColour);
    position: fixed;
    left: 30px;
    top: 25px
}
h1 {
    position: fixed;
    left: 20px;
    top: 115px;
}
.Bliobraphy {
    position: relative;
    font-size: 0.75rem;
    left: 35px;
    top: 165px;
    max-width: 200px;
}
.Reddit {
    left: 21px;
    bottom: 35px
}
.Reddit img {
    width: 50px;
    bottom: 55px;
    left: 48px;
    border: 1px inset var(--MainColour);
    padding: 1px;
}
.Youtube {
    left: 175px;
    bottom: 35px
}
.Youtube img {
    width: 40px;
    bottom: 55px;
    left: 205px;
    border: 1px inset var(--MainColour);
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
}
.Email {
    left: 30px;
    bottom: 12px
}

/*<--Main Page-->*/
:root {
    --MainColour: #ff00ff67;
}
.PageContents {
    position: absolute;
    left: 306px;
    top: 0px;
    right: 0px;
    min-width: 800px;
}

.Border {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 306px;
    right: 0px;
    min-width: 745px;
    margin: auto;
    border: 4px double var(#000);
    outline:  #333 solid 7px;
    outline-offset: -8px;
}
.LinkColumns {
    position: relative;
    border: 1px solid var(--MainColour);
    border-top-width: 10px;
    margin: 50px auto;
    top: 30px;
    width: 750px;
}
.LinkColumns * {
    position: relative;
    text-decoration: none;
}
.LinkColumns h2 {
    margin: auto;
    top: 7px;
    width: fit-content;
}
.LinkColumns p {
    margin: auto;
    padding: 1rem;
    text-align: center;
}

/*<--Patches/index.html-->*/
.PatchesPage {
    font-family:'Franklin Gothic Medium';
    color:#FFFFFF;
    background-color: #000000;
}

/*<--Applications/index.html-->*/
.ApplicationsPage {
    font-family:'Franklin Gothic Medium';
    color:#FFFFFF;
    background-color: #000000;
}