body {
    color:#FFF;
    background-color: #000;
    font-family: 'Franklin Gothic', Debug
}
a { color: #FFF; }
@font-face {
    font-family: Press-Gothic;
    src: url('Fonts/Press-Gothic.ttf');
    font-family: Debug;
    src: url('Fonts/debug.ttf')
}
:root {
    --MainColour: #BB42BBBB;
    --SecondaryColour: #303030;
    /* Made My Own In/Outset Shading Because Chrome Won't Display It Right (Darker half Is Just All Black Where Firefox Shows A Darker Gray)*/
    --Inset: #222 #404040 #404040 #222;
    --Outset: #404040 #222 #222 #404040;
}

/*<--Sidebar-->*/
.Sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 300px;
    border: 2px solid var(--MainColour);
    background-color: #111;
}
.Sidebar a, img {
    position: fixed;
}
.Blob {
    width: 100px;
    border-radius: 50%;
    border: 3px inset var(--MainColour);
    position: fixed;
    left: 30px;
    top: 25px
}
h1 {
    position: fixed;
    left: 20px;
    top: 115px;
}
.Bliobraphy {
    position: relative;
    font-size: 0.825rem;
    left: 35px;
    top: 165px;
    max-width: 200px;
}
.Reddit {
    left: 21px;
    bottom: 35px
}
.Reddit img {
    width: 50px;
    bottom: 55px;
    left: 48px;
    border: 1px inset var(--MainColour);
    padding: 1px;
}
.Youtube {
    left: 175px;
    bottom: 35px
}
.Youtube img {
    width: 40px;
    bottom: 55px;
    left: 205px;
    border: 1px inset var(--MainColour);
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
}
.Email {
    left: 30px;
    bottom: 12px
}

/*<--Main Page-->*/

.PageContents {
    position: absolute;
    left: 312px;
    top: 7px;
    right: 7px;
    bottom: 7px;
    min-width: 900px;
    background-color: #070707;
}
hr {
    position: relative;
    border-color: var(--MainColour);
    width: 870px;
    margin: 60px auto 0px auto;
}
.Border {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 305px;
    right: 0px;
    min-width: 845px;
    margin: auto;
    outline: 4px double var(--MainColour);
    border: solid 7px;
    border-color: var(--Outset);
}
.LinkColumns {
    position: relative;
    outline: 1px solid var(--MainColour);
    margin: auto;
    top: 30px;
    width: 850px;
    border: solid 10px;
    border-color: var(--Outset);
}
.LinkColumns * {
    position: relative;
    text-decoration: none;
}
.LinkColumns h2 {
    margin: auto;
    top: 1.25rem;
    width: fit-content;
}
.LinkColumns p {
    margin: auto;
    padding: 2rem;
    padding-bottom: 1.25rem;
    text-align: center;
}
/*<--Patches/index.html-->*/
.PatchesPage {
    font-family:'Franklin Gothic Medium';
    color:#FFF;
    background-color: #000;
}

/*<--Applications/index.html-->*/
.ApplicationsPage {
    font-family:'Franklin Gothic Medium';
    color:#FFF;
    background-color: #000;
}