body {
    color:#FFF;
    background-color: #000;
    font-family: 'Franklin Gothic', sans-serif
}
a { color: #FFF; }

/*<--Sidebar-->*/
.Sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 300px;
    border: 3px double #F0F;
    background-color: #090909;
}
.Sidebar a, img {
    position: fixed;
}
.Blob {
    width: 100px;
    border-radius: 50%;
    border: 3px inset #F0F;
    position: fixed;
    left: 30px;
    top: 25px
}
h1 {
    position: fixed;
    left: 20px;
    top: 115px;
}
.Bliobraphy {
    position: relative;
    font-size: small;
    left: 35px;
    top: 165px;
    max-width: 200px;
}
.Reddit {
    left: 21px;
    bottom: 35px
}
.Reddit img {
    width: 50px;
    bottom: 55px;
    left: 48px;
    border: 1px inset #F0F;
    padding: 1px;
}
.Youtube {
    left: 175px;
    bottom: 35px
}
.Youtube img {
    width: 40px;
    bottom: 55px;
    left: 205px;
    border: 1px inset #F0F;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
}
.Email {
    left: 30px;
    bottom: 12px
}

/*<--Main Page-->*/
.Border {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 306px;
    width: calc(100% - 313px);
    min-width: 800px;
    border: 3px double #F0F;
    outline:  #333 solid 7px;
    outline-offset: -8px;
}
.PageContents {
    position: absolute;
    left: 306px;
    top: 0px;
    right: 0px;
}
.Patches {
    position: relative;
    border: 1px solid #F0F;
    border-top-width: 10px;
    margin: auto;
    top: 50px;
    width: 750px;
}
.Patches * {
    position: relative;
    text-decoration: none;
}
.Patches h2 {
    margin: auto;
    top: 7px;
    width: fit-content;
}
.Patches p {
    left: 25px;
    width: 700px;
}

/*<--Patches/index.html-->*/
.PatchesPage {
    font-family:'Franklin Gothic Medium';
    color:#FFFFFF;
    background-color: #000000;
}

/*<--Applications/index.html-->*/
.ApplicationsPage {
    font-family:'Franklin Gothic Medium';
    color:#FFFFFF;
    background-color: #000000;
}